<%- include("partials/header") -%>

<h1 class="text-center mb-4">Contact</h1>

<p> <%= contactContent %></p>


<a class="btn btn-outline-success" type="button" href="/signup">Subscribe to my Newsletter</a>

<%- include("partials/footer") -%>