<%- include("partials/header") -%>

<h1 class="text-center mb-4">Contact</h1>

<p class="lead"> <%= contactContent %></p>


<div class="text-center bottom-container">
    <a href=" https://www.linkedin.com/in/advay-aggarwal-45901a101/" class="footer-link"> <i
            class="fab fa-linkedin fa-3x"></i></a>
    <a href="https://github.com/advayaggarwal" class="footer-link"><i class="fab fa-github fa-3x"></i></a>
    <a href="mailto:advayaggarwal0301@gmail.com" class="footer-link"><i class="fas fa-envelope fa-3x"></i></a>
    <br>
    <a class="btn btn-outline-success btn-lg mt-4" type="button" href="/signup">Subscribe to my Newsletter</a>
</div>

<%- include("partials/footer") -%>